* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
  overflow: hidden;
}

span {
  opacity: 0;
  min-width: 0.25em;
  transition: transform 500ms ease;
  transform: translateX(900px);
  display: inline-block;
}

span.animate-text {
  transform: translateX(0px);
  opacity: 1;
  color: #49ded9;
  font-size: 1em;
}
